body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.formContainer {
  background-color: #ffffff;
}

textarea {
  resize: none;
}
label {
  font-weight: 500;
}

footer {
  margin-top: auto;
}
